
build-Account-Desktop_Qt_5_11_0_MinGW_32bit-Debug/

Compte\.pro\.user

build-Account-Desktop_Qt_5_11_1_MinGW_32bit-Debug/debug/

build-Account-Desktop_Qt_5_11_1_MinGW_32bit-Debug/

build-Account-Desktop_Qt_5_11_2_MinGW_32bit-Debug/debug/

build-Account-Desktop_Qt_5_11_2_MinGW_32bit-Debug/

build-Account-Desktop_Qt_5_12_0_MinGW_64_bit-Debug/

build-Account-Desktop_Qt_5_12_0_MinGW_64_bit-Release/

*.user

Account\.pro\.user\.4\.9-pre1

Account\.pro\.user\.4\.10-pre1
